const cards = document.querySelectorAll(".card");

function showCards() {
  cards.forEach(card => {
    const rect = card.getBoundingClientRect();
    if (rect.top < window.innerHeight - 50) {
      card.classList.add("show");
    }
  });
}

window.addEventListener("scroll", showCards);
showCards();

